:root {
  --background-color: #ffffff;
  --backgrounde-color-transparent: rgba(255, 255, 255, 0);
  --background-grey: #f8fafc;
  --text-color: #33312f;
  --primary-color: #216ddc;
  --success-color: #17c91d;
  --pdanger-color: #dc2121;
  --over-color: #d8e7ff;
  --secondary-color: #67696b;
  --tertiary-color: #a2a2a2;
  --font-family: -apple-system, "system-ui", "Segoe UI", Roboto,
    "Apple Color Emoji", Helvetica, Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-size-base: 14px;
  --line-height-base: 1.5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size-base);
  font-family: var(--font-family);
}

#app {
  display: grid;
  grid-template-columns: 275px 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
  /* position: relative; */
}

#navBar {
  background-color: var(--background-grey);
  padding: 15px;
  position: relative;
}

.nav-container {
  position: sticky;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

#app-logo {
  color: var(--primary-color);
  font-size: 1.6em;
  height: 50px;
  align-content: center;
  margin-bottom: 10px;
  padding-left: 4px;
}

.navBar-taskFilter ul li,
.navbar-projects ul li,
.main-task-list ul li {
  list-style: none;
  padding: 5px;
  font-size: var(--font-size-base);
  transition: background-color 1s ease 0s;
  cursor: pointer;
  border-radius: 5px;
}

.main-task-list ul li,
.main-task-list ul li i {
  font-size: 1.3em;
}

.navBar-taskFilter ul li:hover,
.navbar-projects ul li:hover {
  color: var(--primary-color);
  background-color: var(--over-color);
}

li.navbar-addTask {
  color: var(--primary-color);
  /* margin-bottom: 7px; */
}

i {
  font-size: 16px;
  margin-right: 4px;
  /* color: var(--secondary-color); */
}

/* i.bi-plus-circle-fill {
  color: var(--primary-color);
} */

.navBar-projectList {
  margin-top: 20px;
  padding-left: 0px;
}

.navBar-projectList-title {
  display: grid;
  width: 100%;
  grid-template-columns: 1.5fr 0.5fr;
  background-color: #a4bcd427;
  /* border-bottom: 1px solid #67696b32; */
  padding: 7px 0 7px 5px;
  cursor: pointer;
}

.navBar-projectList-title h4 {
  color: var(--secondary-color);
}
.navBar-projectList-title span {
  text-align: end;
  padding-right: 10px;
}

.navbar-projects {
  margin-top: 5px;
}

.navBar-Footer {
  height: 30px;
  position: fixed;
  bottom: 0;
  padding-bottom: 8px;
  padding-left: 0px;
}

.navBar-Footer p,
a {
  font-size: 14px;
  color: #87898b;
}
/**************** MAIN ******************************/
main {
  /* background-color: #67696b; */
  padding: 25px 50px;
}

#content {
  width: 80%;
  margin: 30px auto;
}

button.add-task {
  width: 100%;
  padding: 12px 0 12px 0;
  text-align: start;
  margin: 10px 0 0px 0;
  color: var(--tertiary-color);
  background-color: var(--backgrounde-color-transparent);
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
}

button.add-task:hover {
  color: var(--primary-color);

  transition: color 1s ease 0s;
}
.add-task i {
  margin-right: 5px;
}

/******************* Task items *****************/

.main-task-item {
  padding: 8px 0 8px 0;
  border-bottom: 1px solid #80808040;
  cursor: pointer;
}

.task-top {
  /* background-color: #87898b; */
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
}

.circular-checkbox {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: start;
}

input[type="checkbox"] {
  width: 15px;
  margin: 8px;
}

.task-name {
  line-height: 21px;
  font-weight: 00;
}

.task-name-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  align-items: center;
}

p.task-due-date,
p i {
  color: var(--tertiary-color);
  font-size: 13px;
  margin: 5px 0 5px 8px;
  font-weight: 300;
  line-height: 18px;
}

.task-top-right {
  text-align: end;
}
.task-top-right i {
  font-size: 20px;
}

.task-bottom {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.task-project {
  text-align: right;
}

.task-label,
.task-label i {
  display: inline-block;
  /* background-color: var(--primary-color); */
  padding: 3px;
  border-radius: 50px;
  color: var(--primary-color);
}
.task-label i {
  font-size: var(--font-size-base);
}

p.task-description {
  margin-left: 10px;
  color: var(--secondary-color);
  font-size: 13px;
  line-height: 18px;
}

/* ********************* Popup *********************8 */

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.popup,
.pro-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.open-popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content,
.pro-popup-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  width: 350px;
  position: relative;
}
.input-container {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}

.input-second,
.input-third {
  width: 100%;
  padding-right: 10px;
}

.close-btn,
.pro-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

h2 {
  margin-top: 0;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input,
textarea,
select {
  width: 100%;
  padding: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: (var(--font-family));
}

button[type="submit"] {
  margin-top: 15px;
  width: 100%;
  padding: 10px 0;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}

/*  checked */
.strikethrough {
  text-decoration: line-through;
  color: gray;
}
