:root {
  --background-color: #ffffff;
  --backgrounde-color-transparent: rgba(255, 255, 255, 0);
  --background-grey: #f8fafc;
  --text-color: #33312f;
  --primary-color: #216ddc;
  --success-color: #17c91d;
  --pdanger-color: #dc2121;
  --over-color: #d8e7ff;
  --secondary-color: #67696b;
  --tertiary-color: #a2a2a2;
  --font-family: -apple-system, "system-ui", "Segoe UI", Roboto,
    "Apple Color Emoji", Helvetica, Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-size-base: 14px;
  --line-height-base: 1.5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size-base);
  font-family: var(--font-family);
}

#app {
  display: grid;
  grid-template-columns: 275px 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
}

#navBar {
  background-color: var(--background-grey);
  padding: 15px;
  position: relative;
}

#app-logo {
  color: var(--primary-color);
  font-size: 1.6em;
  height: 50px;
  align-content: center;
  margin-bottom: 10px;
  padding-left: 4px;
}

.navBar-content {
  /* background-color: #6c757d; */
}

.navBar-taskFilter ul li,
.navbar-projects ul li {
  list-style: none;
  padding: 5px;
  font-size: var(--font-size-base);
  transition: background-color 1s ease 0s;
  cursor: pointer;
  border-radius: 5px;
}

.navBar-taskFilter ul li:hover,
.navbar-projects ul li:hover {
  color: var(--primary-color);
  background-color: var(--over-color);
}

li.navbar-addTask {
  color: var(--primary-color);
  /* margin-bottom: 7px; */
}

i {
  font-size: 16px;
  margin-right: 4px;
  /* color: var(--secondary-color); */
}

/* i.bi-plus-circle-fill {
  color: var(--primary-color);
} */

.navBar-projectList {
  margin-top: 20px;
  padding-left: 0px;
}

.navBar-projectList-title h4 {
  color: var(--tertiary-color);
}

.navbar-projects {
  margin-top: 5px;
}

.navBar-Footer {
  height: 30px;
  position: fixed;
  bottom: 0;
  padding-bottom: 8px;
  padding-left: 0px;
}

.navBar-Footer p,
a {
  font-size: 14px;
  color: #87898b;
}
/**************** MAIN ******************************/
main {
  /* background-color: #67696b; */
  padding: 25px 50px;
}

#content {
  width: 80%;
  margin: 30px auto;
}

button.add-task {
  width: 100%;
  padding: 12px 0 12px 0;
  text-align: start;
  margin: 10px 0 0px 0;
  color: var(--tertiary-color);
  background-color: var(--backgrounde-color-transparent);
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
}

button.add-task:hover {
  color: var(--primary-color);

  transition: color 1s ease 0s;
}
.add-task i {
  margin-right: 5px;
}

/******************* Task items *****************/

.main-task-item {
  padding: 8px 0 8px 0;
  border-bottom: 1px solid #80808040;
  cursor: pointer;
}

.task-top {
  /* background-color: #87898b; */
  width: 100%;
  display: grid;
  grid-template-columns: 1.75fr 0.25fr;
}

.task-top-left {
}

.task-name {
  line-height: 21px;
}

.task-name-container {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
  align-items: center;
}

p.task-due-date,
p i {
  color: var(--tertiary-color);
  font-size: 13px;
  margin: 5px 0 5px 8px;
  font-weight: 300;
  line-height: 18px;
}

.task-top-right {
  text-align: end;
}
.task-top-right i {
  font-size: 20px;
}

.task-bottom {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
}

.task-project {
  text-align: right;
}

.task-label,
.task-label i {
  display: inline-block;
  /* background-color: var(--primary-color); */
  padding: 3px;
  border-radius: 50px;
  color: var(--primary-color);
}
.task-label i {
  font-size: var(--font-size-base);
}

p.task-description {
  margin-left: 15px;
  color: var(--secondary-color);
  font-size: 13px;
  line-height: 18px;
}
